html {
  font-size: 62.5%;
  font-family: 'Source Sans Pro', sans-serif;
  line-height: 1.7; }

.heading-primary--main {
  font-size: 4.8rem;
  font-weight: 900; }

.heading-primary--sub {
  font-size: 3rem;
  font-weight: 200;
  font-style: italic; }

.heading-secondary {
  font-size: 3rem;
  transform: rotate(-2deg); }

.paragraph {
  margin-top: 3rem;
  margin-bottom: 2rem;
  font-size: 1.8rem;
  line-height: 150%; }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

.container {
  width: 70%;
  margin: 0 auto; }

.header {
  position: relative;
  height: 100vh;
  background-image: linear-gradient(to left, rgba(37, 37, 37, 0.95), rgba(7, 7, 7, 0.95)), url("/assets/header-bg.jpg");
  background-size: cover;
  background-position: top;
  color: #FFFAF0; }
  .header__text-box {
    position: absolute;
    top: 50%;
    left: 40%;
    transform: translate(-50%, -50%); }

.about {
  width: 70%;
  margin: 0 auto;
  padding: 10rem 0;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 10rem;
  color: #373D3F; }
  .about__content {
    flex: 1 1 0; }
  .about__technologies {
    flex: 1 1 0; }
  .about .badges {
    margin-top: 2rem; }
    .about .badges .badge {
      font-size: 2rem;
      margin: 1rem;
      margin-left: 0;
      padding: 2rem; }

.projects {
  background-color: #252525;
  color: #FFFAF0;
  padding: 10rem 0; }
  .projects__heading {
    flex: 100%; }
  .projects__item {
    display: flex;
    gap: 8rem;
    padding: 5rem 0; }
  .projects__preview {
    flex: 20%; }
    .projects__preview img {
      object-fit: cover;
      width: 100%; }
  .projects__about {
    flex: 60%; }
    .projects__about:nth-child(odd) {
      text-align: right; }
