html {
  font-size: 62.5%;
  font-family: 'Source Sans Pro', sans-serif;
  line-height: 1.7; }

.heading-primary {
  color: #FFFAF0; }
  .heading-primary--main {
    font-size: 4.8rem;
    font-weight: 900; }
  .heading-primary--sub {
    font-size: 3rem;
    font-weight: 200;
    font-style: italic; }

.heading-secondary {
  font-size: 3.2rem;
  transform: rotate(-2deg); }

.paragraph {
  margin-top: 5rem;
  margin-bottom: 2rem;
  font-size: 1.8rem;
  line-height: 200%; }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

.container {
  width: 70%;
  margin: 0 auto; }

.header {
  position: relative;
  height: 100vh;
  background-image: linear-gradient(to left, rgba(37, 37, 37, 0.95), rgba(7, 7, 7, 0.95)), url("/assets/header-bg.jpg");
  background-size: cover;
  background-position: top;
  color: #f8f8f8; }
  .header__text-box {
    padding-top: 60vh;
    top: 50%;
    left: 30%; }

.about {
  padding: 18rem 0;
  background-color: #f8f8f8;
  color: #373D3F; }
  .about .container {
    display: flex;
    justify-content: space-between;
    gap: 10rem; }
  .about__content {
    flex: 1 1 0; }
  .about__technologies {
    flex: 1 1 0; }
  .about .badges {
    margin-top: 5rem; }
    .about .badges .badge {
      margin: 1rem;
      margin-left: 0;
      padding: 2rem;
      background-color: #e7e7e7;
      color: #373D3F;
      font-size: 1.4rem; }

.projects {
  background-image: linear-gradient(to left, rgba(37, 37, 37, 0.95), rgba(7, 7, 7, 0.95));
  color: #FFFAF0;
  padding: 10rem 0; }
  .projects__heading {
    flex: 100%;
    margin-bottom: 5rem; }
  .projects__item {
    display: flex;
    gap: 8rem;
    padding: 5rem 0; }
    .projects__item--1 {
      text-align: left; }
    .projects__item--2 {
      text-align: right; }
  .projects__preview {
    flex: 20%;
    transform: rotate(-2deg); }
    .projects__preview img {
      object-fit: cover;
      width: 100%; }
  .projects__about {
    flex: 60%; }
  .projects__buttons {
    margin: 3rem; }
    .projects__buttons button {
      width: 10rem;
      font-size: 2rem;
      margin: 0 1rem; }
    .projects__buttons--1 {
      float: right; }
    .projects__buttons--2 {
      float: left; }
