$color-primary-dark: #0D1117;
$color-primary-light: #3f3d56;
$color-secondary-light: #f8f8f8;
$color-secondary-dark: #e7e7e7;

$color-text-primary: #3f3d56;
$color-text-secondary: #FFFAF0;

$color-section-divider: #b9b9b9;