.about {
  width: 70%;
  margin: 0 auto;
  min-height: 50rem;
  margin-top: 10rem;

  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 10rem;

  &__content {
    flex: 1 1 0;
  }

  &__technologies {
    flex: 1 1 0;
  }

  .badges {
    margin-top: 2rem;
    
    .badge {
      font-size: 2rem;
      margin: 1rem;
      margin-left: 0;
      padding: 2rem;
    }
  }
}

.projects {
  width: 70%;
  margin: 0 auto;
  min-height: 80rem;
  display: flex;
  flex-wrap: wrap;

  &__heading {
    flex: 100%;
  }

  &__item {
    display: flex;
  }

  &__preview {
    flex: 40%;
  }

  &__about {
    flex: 60%;
  }
}