.about {
  .container {
    display: flex;
    justify-content: space-between;
    gap: 10rem;
  }
  padding: 18rem 0;
  background-color: $color-secondary-light;
  color: $color-text-primary;

  &__content {
    flex: 1 1 0;
  }

  &__technologies {
    flex: 1 1 0;
  }

  .badges {
    margin-top: 5rem;
    
    .badge {
      margin: 1rem;
      margin-left: 0;
      padding: 2rem;
      background-color: $color-secondary-dark;
      color: $color-text-primary;
      font-size: 1.4rem;
    }
  }
}

.projects {
  background-image: linear-gradient(
        to left,
        rgba($color-primary-light, 0.95),
        rgba($color-primary-dark, 0.95));
  color: $color-text-secondary;
  padding: 10rem 0;

  &__heading {
    flex: 100%;
    margin-bottom: 5rem;
  }

  &__item {
    display: flex;
    gap: 8rem;
    padding: 5rem 0;

    &--1 {
      text-align: left;
    }

    &--2 {
      text-align: right;
    }
  }

  &__preview {
    flex: 20%;
    transform: rotate(-2deg);
    img {
      object-fit: cover;
      width: 100%;
    }
  }

  &__about {
    flex: 60%;
  }

  &__buttons {
    margin: 3rem;
    
    button {
      width: 10rem;
      font-size: 2rem;
      margin: 0 1rem;
    }

    &--1 {
      float: right;
    }

    &--2 {
      float: left;
    }
  }

}