.about {
  .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 10rem;
  }
  padding: 18rem 0;
  background-color: $color-secondary-light;
  color: $color-text-primary;

  &__content {
    flex: 1 1 0;
  }

  &__technologies {
    flex: 1 1 0;
  }

  .badges {
    margin-top: 5rem;
    display: flex;
    flex-wrap: wrap;
    
    .badge {
      flex-grow: 2;
      margin: 1.5rem;
      margin-left: 0;
      padding: 2rem 2.2rem;
      background-color: $color-secondary-dark;
      color: $color-text-primary;
      font-size: 1.4rem;
    }

    .icon {
      font-size: 4rem;
      margin-bottom: 1.5rem;
    }
  }
}

.projects {
  background-color: $color-primary-dark;
  color: $color-text-secondary;
  padding: 10rem 0;

  &__heading {
    margin-bottom: 5rem;
  }

  &__item {
    display: flex;
    flex-wrap: wrap;
    gap: 8rem;
    min-height: 35rem;
    margin: 10rem 0;
    padding: 5rem 1rem;
    border-radius: 1rem;

    &--1 {
      text-align: left;
      background-image: linear-gradient(to right, $color-primary-dark, $color-primary-light);
    }

    &--2 {
      text-align: right;
      background-image: linear-gradient(to left, $color-primary-dark, $color-primary-light);
    }
  }

  &__preview {
    flex: 20%;
    transform: rotate(-2deg);

    img {
      width: 100%;
    }

    &--1 {
      img {
        box-shadow: -2rem -2rem 1rem 1rem black;
      }
    }

    &--2 {
      img {
        box-shadow: 2rem 2rem 1rem 1rem black;
      }
    }
  }

  &__about {
    flex: 60%;
  }

  &__buttons {
    margin: 3rem;
    
    button {
      width: 10rem;
      font-size: 2rem;
      margin: 0 1rem;
    }

    &--1 {
      float: right;
    }

    &--2 {
      float: left;
    }
  }

  // just a test
  // @media (max-width: 1024px) {
  //   .projects__preview {
  //     flex: 100%;
  //   }

  //   .projects__about {
  //     order: 1;
  //   }
  // }

}