.navigation {
  position: fixed;
  width: 100%;
  z-index: 1;
  padding: 1.2rem 0;
  background-color: $color-primary-light;
  color: $color-text-secondary;
  font-size: 2.5rem;

  &__list {
    float: right;
    list-style-type: none;
  }

  &__item {
    display: inline;
    padding: 0 2rem;
  }
}