.about {
  @include width-container(70%);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 10%;
  row-gap: 10rem;
  padding: 18rem 0;

  &__content {
    flex: 50%;
  }

  &__illustration {
    flex: 40%;
    align-items: center;

    img {
      width: 100%;
      height: auto;
    }
  }

  &__technologies {
    flex: 50%;
  }

  .badges {
    margin-top: 5rem;
    display: flex;
    flex-wrap: wrap;
    
    .badge {
      flex-grow: 2;
      margin: 2.5rem;
      margin-left: 0;
      padding: 2rem 2.2rem;
      opacity: 0.8;
      color: $color-text-primary;
      font-size: 1.4rem;

      &:hover {
        transition: all .2s;
        transform: scale(1.1);
        opacity: 1;
      }
    }

    .icon {
      font-size: 4rem;
      margin-bottom: 1.5rem;
    }
  }

  @media (max-width: 1024px) {
    @include width-container(90%);
    padding: 10rem 0;
    row-gap: 5rem;
  
    &__content {
      flex: 100%;
    }

    &__illustration {
      display: none;
    }
  }
}