.projects {
  padding: 10rem 0;
  @include background;
  background: $color-secondary-light;
  color: $color-text-primary;

  &__heading {
    margin-bottom: 5rem;
  }

  &__item {
    display: flex;
    flex-wrap: wrap;
    gap: 8rem;
    min-height: 35rem;
    margin: 10rem 0;
    padding: 5rem 1rem;
    border-radius: 1rem;
    background-color: $color-secondary-light;

    &--1 {
      text-align: left;
    }

    &--2 {
      text-align: right;
    }
  }

  &__preview {
    flex: 20%;

    img {
      width: 100%;
      height: auto;
      transform: rotate(-2deg);
    }

    &:hover {
      img {
        transition: all .2s;
        transform: rotate(0deg);
        transform: scale(1.2);
        box-shadow: none;
        
      }
    }
  }

  &__about {
    flex: 60%;
  }

  &__buttons {
    margin: 3rem;
    
    button {
      width: 10rem;
      margin: 0 1rem;
      background-color: $color-secondary-light;
      color: $color-text-primary;
      font-size: 2rem;

      &:hover {
        transition: all .2s;
        transform: translateY(-.5rem);
      }
    }

    &--1 {
      float: right;
    }

    &--2 {
      float: left;
    }
  }

  // just a test
  // @media (max-width: 1024px) {
  //   .projects__preview {
  //     flex: 100%;
  //   }

  //   .projects__about {
  //     order: 1;
  //   }
  // }

}